{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}You Registered Successfully!{% endblock  %}
{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration_confirmation.css' %}" />
{% endblock  %}
{% block main_heading %}{% endblock  %}
{% block body %}
<section id="confirmation">
    <h2>You Registered Successfully.</h2>
    <p>Thanks for signing up, see you at meetup!</p>
    <p>For any questions, Feel free to <a href="">contact the organizer</a>
    </section>
<section id="continue">
    <p>You can Signup for than than one meetup</p>
    <p><a href="/meetups" class="btn">Explore our meetup</a></p>
{% endblock  %}